__pycache__/
.venv/
venv/
*.pyc
*.pyo
*.pyd
*.db
.git
.gitignore
notebooks/*.ipynb_checkpoints
node_modules/
dist/
build/
*.egg-info
docker-compose.yml
.dockerignore
.devcontainer
elt-app/Dockerfile.etl
airflow/Dockerfile.airflow
airflow/logs/
airflow/tmp/