__pycache__/
.venv/
venv/
*.pyc
*.pyo
*.pyd
*.db
data/processed/
data/raw/
logs/
.git
.gitignore
notebooks/*.ipynb_checkpoints
node_modules/
dist/
build/
*.egg-info
docker-compose.yml
.dockerignore
docker/
.devcontainer
